<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>CryptoRadar</title>
</head>
<body>
    <div class="container">
        <h1>Dashboard da CryptoRadar!</h1>
        <h2>Preço da Crypto</h2>
        <p>Bitcoin (USD): $ 
            {{dados['bitcoin']['usd']}}
        </p>
        <p>Bitcoin (BRL): R$ 
            {{dados['bitcoin']['brl']}}
        </p>
        <p>Ethereum (USD): $ 
            {{dados['ethereum']['usd']}}
        </p>
        <p>Ethereum (BRL): R$ 
            {{dados['ethereum']['brl']}}
        </p>
    </div>
    
</body>
</html>